<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>My First Website</title>
</head>

<body>
    <p>My First Website! </p>
    <!--This is comment in HTML file-->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Omnis necessitatibus unde quos. Harum, similique. Amet modi doloremque aliquid eveniet 
        cupiditate <strong>magnam culpa dolor libero</strong>, <em>voluptates officia eius harum</em> qui nisi!</p>
    <h1>Deadling 1</h1>
    <h2>Deading 2</h2>
    <h3>Deadling 3</h3>
    <h4>Deailig 4</h4>
    <h5>Dealinsg 5</h5>
</body>

</html>